{% extends "base_admin.html" %}
{% block applications %}
    class="active"
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Applicant Manager</h4>
                    <p class="category">Brought to you by the one and only
                        <a target="_blank" href="https://www.randydeng.com">Randy Deng</a>.
                    </p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Current Semester Control Panel</h5>
                            <a href=applications/{{ query_current_all }}>
                                <div class="alert alert-primary">
                                    <span>All Applicants</span>
                                </div>
                            </a>
                            <a href=applications/{{ query_current_accepted }}>
                                <div class="alert alert-success">
                                    <span>Accepted Applicants</span>
                                </div>
                            </a>
                            <a href=applications/{{ query_current_remaining }}>
                                <div class="alert alert-warning">
                                    <span>Remaining Applicants</span>
                                </div>
                            </a>
                            <a href=applications/{{ query_current_rejected }}>
                                <div class="alert alert-danger">
                                    <span>Rejected Applicants</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h5 style='visibility:hidden'>.</h5>
                            <a href=applications/{{ query_all_unverified }}>
                                <div class="alert alert-primary">
                                    <span>Unverified Applicants</span>
                                </div>
                            </a>
                            <a href=#>
                                <div class="alert alert-success">
                                    <span>Interview Scheduler</span>
                                </div>
                            </a>
                            <a href=applications/{{ query_current_special }}>
                                <div class="alert alert-warning">
                                    <span>Special Applicants</span>
                                </div>
                            </a>
                            <a href=#>
                                <div class="alert alert-danger">
                                    <span>Applicants with Multiple Applications</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Admin Statistics and Tools</h4>
                    <p class="category">A toolkit for the advanced features</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Application Statistics</h5>
                            <a href=interviews/{{ query_current_all }}>
                                <div class="alert alert-primary">
                                    <span>Application History</span>
                                </div>
                            </a>
                            <a href=interviews/{{ query_current_accepted }}>
                                <div class="alert alert-success">
                                    <span>Overview</span>
                                </div>
                            </a>
                            <a href=interviews/{{ query_current_rejected }}>
                                <div class="alert alert-danger">
                                    <span>Overview</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h5>Admin Toolkit</h5>
                            <a href=#>
                                <div class="alert alert-primary">
                                    <span>Admissions Graphs</span>
                                </div>
                            </a>
                            <a href=#>
                                <div class="alert alert-success">
                                    <span>Number Crunching</span>
                                </div>
                            </a>
                            <a href=#>
                                <div class="alert alert-danger">
                                    <span>Overview</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}