{% extends "base_admin.html" %}
{% block control_panel %}
    class="active"
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Update Admin Password</h4>
                    <p class="category">Keep the admin account secure!</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            {% block flash %}
                              {{ super() }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <form method="POST" action="{{ url_for('admin.control_panel') }}">
                        {{ password_form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    {{ password_form.username(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    {{ password_form.password(class='form-control') }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    {{ password_form.new_password(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    {{ password_form.new_password_copy(class='form-control') }}
                                </div>
                            </div>
                        </div>
                        {{ password_form.submit(class='btn btn-primary pull-right') }}
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="content">
                    <h6 class="category text-gray">Misc. Information</h6>
                    <h4 class="card-title">How do I update my username?</h4>
                    <p class="card-content">Username updating is currently not supported, please contact the developer for details.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}