{% extends "base_admin.html" %}
{% block dashboard %}
    class="active"
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                    <p class="category">Applications This Semester</p>
                    <h3 class="title">{{ current_applications }}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">people</i>
                        <a href="applications/{{ query_current_all }}">View Applications</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">info_outline</i>
                </div>
                <div class="card-content">
                    <p class="category">Unverified Users</p>
                    <h3 class="title">{{ all_unverified }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i>
                        <a href="applications/{{ query_all_unverified }}">View Unverified Users</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-user-circle"></i>
                </div>
                <div class="card-content">
                    <p class="category">Total Applicants</p>
                    <h3 class="title">{{ total_applications }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i>
                        <a href="history">View History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                    <p class="category">Scheduled Interviews</p>
                    <h3 class="title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i>
                        <a href="/interviews">View Interviews</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}