{% extends "base_admin.html" %}
{% block devs %}
    class="active"
{% endblock %}
{% block content %}
    <div class="navbar-header">
        <a class="navbar-brand" href="#"> The Developers </a>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Who the Heck Made This System?</h4>
                    <p class="category">Started by
                        <a target="_blank" href="https://www.randydeng.com">Randy Deng</a>
                        and kept alive by <a target="_blank" href="https://thehiveg.gtorg.gatech.edu">The Hive</a>.
                    </p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>This page is still currently under development!</h5>
                            <h5>The Devs will let you know when it's complete though :)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}