Flask==0.12.2
Flask_Login==0.4.1
Flask-SSLify==0.1.5
Flask_WTF==0.14.2
gunicorn==19.7.1
humanize==0.5.1
Jinja2==2.9.6
mongoengine==0.15.0
phonenumbers==8.9.5
pymongo==3.6.1
requests==2.18.4
Werkzeug==0.14.1
WTForms==2.1