{% extends "base_user.html" %}
{% block interviews %}
    class="active"
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Sign Up for an Interview Time Slot</h4>
                    <p class="category">Time slots are given on a first-come first-serve basis so please choose ASAP!
                    </p>
                </div>
                <div class="card-content table-responsive">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>This page is still currently under development!</h5>
                            <h5>We'll send you an email with our availability so you can sign up :)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}