{% extends "base_login.html" %}
{% block header %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/static/css/login.css">
  <link href="/static/css/pulse_button.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
  <body>
    <div class="pen-title">
      <h1>The Hive</h1>
      <h2>Interview Scheduler</h2>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
      <div class="form">
        {% block flash %}
          {{ super() }}
        {% endblock %}
        <h2>Please verify your registration by clicking the link in your email</h2>
      </div>
    </div>
    <a href="https://thehive.gtorg.gatech.edu" class="at-button"><i class="material-icons">link</i></a>
  </body>
</html>
{% endblock %}
{% block javascript %}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="/static/js/login.js"></script>
{% endblock %}