{% extends "base_login.html" %}
{% block content %}
  <body>
    <div class="pen-title">
      <h1>The Hive</h1>
      <h2>Interview Scheduler</h2>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
      <div class="form">
        {% block flash %}
          {{ super() }}
        {% endblock %}
        <h2>Please verify your registration by clicking the link in your email</h2>
      </div>
    </div>
    <a href="https://thehive.gtorg.gatech.edu" class="at-button"><i class="material-icons">link</i></a>
  </body>
</html>
{% endblock %}
