{% extends "base_login.html" %}
{% block content %}
  <body>
    <div class="pen-title">
      <h1>The Hive</h1>
      <h2>Interview Scheduler</h2>
    </div>
    <!-- Form Module-->
    <div class="module form-module wide-width">
      <div class="form">
        <h2>Student Registration</h2>
        {% block flash %}
          {{ super() }}
        {% endblock %}
        <form method="POST" action="{{ url_for('login.registration', id=user_id) }}" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="subheading mb-3">
            {{ form.first_name(value=user.first_name) }}
          </div>
          <div class="subheading mb-3">
            {{ form.last_name(value=user.last_name) }}
          </div>
          <div class="subheading mb-3">
            {{ form.email(value=user.email) }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.position(value=user.position) }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.phone_number }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.year.label }}
            {{ form.year }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.expected_graduation_date.label }}
            {{ form.expected_graduation_date }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.on_campus.label }}
            {{ form.on_campus(class="align-checkboxes") }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.why_interested.label }}
            {{ form.why_interested }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.comments.label }}
            {{ form.comments }}
          </div>
          <div id="officer_skills">
            {{ form.skills.label }}
            {{ form.skills }}
          </div>
          <div class="subheading mb-3 spacer">
            {{ form.resume.label }}
            {{ form.resume }}
          </div>
          <div class="subheading mb-3">
            {{ form.submit(class='form-module-button') }}
          </div>
        </form>
      </div>
    </div>
    {% block contact %}
      {{ super() }}
    {% endblock %}
  </body>
</html>
{% endblock %}
